#QUESTION NO 1:

In [6]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple","banana","cherry"), [7, 8, 9] )
# Print all elements from my_tuple on a new line (using for looP)
for element in my_tuple:
    print(element)
#Create a new tuple by concatenating the first and last elements of my_tuple 
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print("\nNew tuple by concatenating the first and last elements:")
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New tuple by concatenating the first and last elements:
(1, 2, 3, 7, 8, 9)

#QUESTION NO 2:

In [40]:
inventory = { 
    "The Great Gatsby":{
        "price": 10.99,
        "quantity": 5
    },
    "Rich dad poor dad": {
        "price":8.99,
        "quantity": 8
    },
    "Harry Potter": {
        "price": 12.50,
        "quantity": 2
    }
}
#Add a new book in inventory using method and get all book titles using method
inventory.update({'The Alchemist': {"price":6 , "quantity" : 0}})
print(inventory)


#Get all book titles using a method
print("\nAll Book Titles:")
print(list(inventory.keys()))

# Remove a book if it's out of stock
out_of_stock_books = [key for key, value in inventory.items() if value["quantity"] == 0]
for book in out_of_stock_books:
    inventory.pop(book)
    
print("\nafter Remove a book ")
print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Alchemist': {'price': 6, 'quantity': 0}}

All Book Titles:
['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'The Alchemist']

after Remove a book
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

#QUESTION NO 3:

In [48]:
products = { 
    101:
    {
        "name": "Laptop",
        "category":"Electronics", 
        "price": 1200,
        "stock": 50
    },
    102:
    {
        "name":"Shirt", 
        "category":"Apparel",
        "price": 25,
        "stock": 200
    },
    103:
    {
       "name":"Coffee Maker",
        "category": "Home Appliances", 
        "price": 80,
        "stock": 30
    } 
}
#Increase the stock of the Shirt product (add 50 more units)
products[102]["stock"]+=50

#Add a new product Smartphone
products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 700,
    "stock": 100
}

print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}}

#QUESTION NO 4:

In [49]:
shopping_list = ["apple", "banana", "apple", "orange", "banana","grape"]
my_set = set(shopping_list)
print(my_set)

{'orange', 'apple', 'grape', 'banana'}

#QUESTION NO :5

In [51]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

difference = course_a - course_b
print("Students in Course A but not in Course B:", difference)

symmetric_difference = course_a ^ course_b
print("Students only in one of the two courses:", symmetric_difference)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'Bob', 'Charlie', 'John', 'Eve'}

#QUESTION NO :6

In [8]:
#Write a Python program that calculates the sum of all even numbers between 1 and 50
#using a for loop.
       
       
for i in range(2, 51):
    if i % 2 == 0:
        i += i
print(i)

100

#QUESTION NO :7

In [17]:
#Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.
# Get the number from the user
number = int(input("Enter a number between 1 and 10: "))


if 1 <= number <= 10:
    
    for i in range(1, 11):  # Loop from 1 to 10
        print(f"{number} x {i} = {number * i}")
else:
    print("Please enter a valid number between 1 and 10.")

Enter a number between 1 and 10:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#QUESTION NO :8

In [19]:
#Write a Python program that takes a number and prints the powers of the number (starting from 1to 10) using a while loop. 
number = int(input("Enter a number between 1 and 10: "))


if 1 <= number <= 10:
    
    for i in range(1, 11):  # Loop from 1 to 10
        print(f"{number} ^ {i} = {number ** i}")
else:
    print("Please enter a valid number between 1 and 10.")

Enter a number between 1 and 10:  3

3 ^ 1 = 3
3 ^ 2 = 9
3 ^ 3 = 27
3 ^ 4 = 81
3 ^ 5 = 243
3 ^ 6 = 729
3 ^ 7 = 2187
3 ^ 8 = 6561
3 ^ 9 = 19683
3 ^ 10 = 59049

#QUESTION NO :9

In [23]:
number = int(input("Enter a number : "))
while (number >= 0 ):
    print(number)
    number -= 1
print("countdown Finish!")

Enter a number :  5

5
4
3
2
1
0
countdown Finish!

#QUESTION NO :10

In [28]:
n = int(input("enter num"))
star = ""
for i in range(1, n+1):
    star = star + "*"
    print("\n" + star)

enter num 5

*

**

***

****

*****