In [20]:
#length of the salaries listt
salaries = ['20k','40k','50k','60k','35k','89k','40k']
len(salaries)

7

In [26]:
#Retrieve the third salary in the list by using an index:
salaries[2]

'50k'

In [25]:
#Extract the last salary using a negative index:
salaries[-1]

'40k'

In [24]:
#Slice the salaries list to get only the middle three salaries
salaries[2:5]

['50k', '60k', '35k']

In [27]:
#Add a new salary, '100k', using the append() method:
salaries.append('100k')
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [28]:
#Add a new salary, '120k', without using a method:
salaries += ['120k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [29]:
#Replace the third salary in the list with '55k' and print the updated list:
salaries[2] = '55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [30]:
#Count how many times '40k' appears in the list:
salaries.count('40k')

2

In [31]:
#Insert a new salary at the second position:
salaries.insert(1, '45k')
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [32]:
#Reverse the order of the salaries list with a method
salaries.reverse()
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '45k', '20k']

In [33]:
#Reverse the order of the salaries list without a method
salaries = salaries[::-1]
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']